*.DS_Store
*.swp
/.Brewfile.lock.json
/.CFUserTextEncoding
/.Trash
/.history
/.lesshst
/.python_history
/.ssh/known_hosts
/.viminfo
/.zsh_history
/.zsh_sessions
/.zshrc.zwc
/Applications
/Desktop
/Documents
/Downloads
/Dropbox
/Ebooks
/EpuborLog
/Library/*
/Movies
/Music
/Pictures
/Projects
/Public
/Ultimate
/alfred
/calibre
/dotfiles
/proj
/secrets
